@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+JP:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "JetBrains Mono", monospace;
}
:root {
}

body {
  background: url("./assets/crumpled-white-paperboard.jpg");
  background-size: cover;
  width: 100vw;
  background-repeat: no-repeat;
}

.temp {
  color: red;
}

::selection {
  color: white;
  background: black;
}
